{% extends 'base.html' %}

{% block title %} Дата и время {% endblock %}

{% block style %}

body {
    background-color: #f2f3ff
}

.datetime {
    margin-left: 650px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 5px;
    border-radius: 15px;
    margin-right: 5px;
    float: left;

}
   .btn1 {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8567ff; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 3rem 3rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 15px; /* Скругляем уголки */
    font-weight: bold;
    height: 70px;
    width: 70px

    margin-top: 20px
    }

{% endblock %}

{% block body %}
    <div style="background-color: dodgerblue; width: 100%; height: 80px; padding-top: 15px">
        <h3 style="text-align: center; ">Дата и Время</h3>
    </div>

    <form method="POST">
      <div >
        <input name="datetime" class="datetime" type="date" >
      </div>
    </form>

    <div style="margin-top: 20px; margin-left: 10px; border-radius: 15px ;background-color: #f2f3ff; width: 500px; height: 70px; display: flex; flex-wrap: nowrap; overflow-x: auto;">
        {%for day in days%}
            <a href="/masters/{{ level }}/{{ id }}/{{ day }}" style="box-shadow: 0 0 10px rgba(0,0,0,0.1); text-decoration: none; padding: 25px 25px; background-color: white; border-radius: 15px; color: #000; margin-left: 10px">{{ day }}</a>
        {% endfor %}
    </div>


        {% for i in masters %}
            <div style=" position: relative; width: 600px; height: 140px; margin-left: 650px; background-color: white; border-radius: 15px; margin-top: 20px">
                <div style="position: absolute; top: 10px; left: 10px; width: 65px; height: 65px; border-radius: 10px; background-color: slategrey; border: 1px solid dimgrey"></div>
                <div style=" position: relative; width: 200px; height: 50px; margin-left: 80px; background-color: white; margin-top: 20px; padding-top: 35px">
                    <h6 style="margin-top: -10px; ">{{ i.name }}</h6>
                    <h6 style="text-align: left; font-weight: lighter; color: slategrey">{{ serv.price }} RUB {{ serv.time }}</h6>
                </div>

                <div style="display: flex; flex-wrap: nowrap; overflow-x: auto; background-color: white; width: 590px; height: 40px; margin-top: 40px; position: relative; padding-left: 5px">
                    {% for el in All_time[i.id][0] %}
                            <a type="button" href="/masters/{{ id }}/{{ today }}/{{ el }}/{{ i.id }}/{{ current_user.id }}" class="btn btn-outline-secondary" style="flex: auto; display: inline-block; margin-top: 5px; margin-left: 5px;height: 30px; float: left">{{ el }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

{% endblock %}


