{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}

<h1 style="text-align: center; margin-top: 100px">Login page</h1>


<form method="POST" class="container" style="margin-top: 50px">

  <div class="mb-3">
    <label for="exampleInputName1" class="form-label"> Имя </label>
    <input type="text" name="name" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputSurename1" class="form-label"> Фамилия </label>
    <input type="text" name="surname" class="form-control" id="exampleInputSurename1" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
      <label for="exampleInputSecondname1" class="form-label"> Отчество </label>
    <input type="text" name="second_name" class="form-control" id="exampleInputSecondname1" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputNumber1" class="form-label"> Номер телефона </label>
    <input type="text" name="number" class="form-control" id="exampleInputNumber1" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"> Пароль </label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>


  <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label"> Повтор Пароля </label>
    <input type="text" name="password2" class="form-control" id="exampleInputPassword2" aria-describedby="emailHelp">
  </div>

  <input type="submit" class="btn btn-primary" value="Регистрация">

</form>

{% endblock %}