{% extends 'base.html' %}

{% block title %}Time{% endblock %}

{% block body %}
<h1>{{ masters1.master }} - {{ masters1.serv1 }}, {{ masters1.serv2 }}</h1>
<h3>Choose the time</h3>

<form action="signup/<int:id>/<time>" method="post">

    <a href="/signup/{{ masters1.id }}/10:00:00" class="btn btn-warning">10:00</a>
    <a href="/signup/{{ masters1.id }}/11:00:00" class="btn btn-warning">11:00</a>
    <a href="/signup/{{ masters1.id }}/12:00:00" class="btn btn-warning">12:00</a>
    <a href="/signup/{{ masters1.id }}/13:00:00" class="btn btn-warning">13:00</a>

</form>

{% endblock %}